<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bookstore - Add Book</title>
  <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <script data-th-src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div data-th-insert="~{fragments/general.html :: header(pageName = 'Add Book')}"></div>
<h2>Add A Book</h2>
<form data-th-action="@{/books/save}" data-th-object="${bookForm}" method="post">
  <div class="form-group">
    <label for="inputTitle">Book Title</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Enter title" data-th-field="*{title}" />
    <small id="inputTitleHelp" class="form-text text-muted">Must not be left blank</small><br />
    <strong data-th-if="${#fields.hasErrors('title')}" data-th-errors="*{title}" class="text-danger">Title Error</strong>
    <label for="inputAuthor">Author</label>
    <select id="inputAuthor" data-th-field="*{authorId}">
        <option data-th-each="author : ${authors}" data-th-value="${author.id}" data-th-text="${author.name}"></option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div data-th-insert="~{fragments/general.html :: footer}"></div>
</body>
</html>