<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bookstore - Home</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script data-th-src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<main class="flex-shrink-0">
    <div data-th-insert="~{fragments/general.html :: header(pageName = 'Home')}"></div>
    <div>
        <h2>Welcome to the Test Bookstore</h2>
        <h3>Our Pages:</h3>
        <ul>
            <li><a data-th-href="@{/authors}">Authors</a></li>
            <li><a data-th-href="@{/books}">Books</a></li>
        </ul>
    </div>
</main>
<div data-th-insert="~{fragments/general.html :: footer}"></div>
</body>
</html>