<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bookstore - View Books</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script data-th-src="@{/js/bootstrap.min.js}"></script>
    <script data-th-inline="javascript">
        function confirmDelete(title) {
            return window.confirm("Really delete book " + title + "?");
        }
    </script>
</head>
<body>
<div data-th-insert="~{fragments/general.html :: header(pageName = 'Books')}"></div>
<div id="content">
    <h2>Our Books</h2>
    <form data-th-each="book: ${books}" data-th-id="'delete_' + ${book.id}" method="post"
          data-th-action="@{/books/{bookId}/delete(bookId=${book.id})}"
          data-th-onsubmit="return confirmDelete([[${book.title}]])">
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="book : ${books}">
            <td><a data-th-href="@{/books/{bookId}(bookId=${book.id})}" data-th-text="${book.title}"></a></td>
            <td data-th-text="${book.author.name}"></td>
            <td>
                <button type="submit" data-th-form="'delete_' + ${book.id}" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" data-th-href="@{/books/add}">Add Book</a>
</div>
<div data-th-insert="~{fragments/general.html :: footer}"></div>
</body>
</html>