<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bookstore - View Book</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script data-th-src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div data-th-insert="~{fragments/general.html :: header(pageName = 'View Book')}"></div>
<div id="content">
    <h2 data-th-text="${book.title}"></h2>
    <h4 data-th-text="'By: ' + ${book.author.name}"></h4>
</div>
<div data-th-insert="~{fragments/general.html :: footer}"></div>
</body>
</html>