<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bookstore - View Authors</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script data-th-src="@{/js/bootstrap.min.js}"></script>
    <script data-th-inline="javascript">
        function confirmDelete(name) {
            return window.confirm("Really delete author " + name + "?");
        }
    </script>
</head>
<body>
<div data-th-insert="~{fragments/general.html :: header(pageName = 'Authors')}"></div>
<div id="content">
    <h2>Our Books' Authors</h2>
    <ul>
        <li data-th-each="author : ${authors}">
            <form method="post" data-th-action="@{/authors/{authorId}/delete(authorId=${author.id})}"
                  style="margin-block-end: 1em;" data-th-onsubmit="return confirmDelete([[${author.name}]])">
                <a data-th-href="@{/authors/{authorId}(authorId=${author.id})}" data-th-text="${author.name}"></a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </li>
    </ul>
    <a class="btn btn-primary" data-th-href="@{/authors/add}">Add Author</a>
</div>
<div data-th-insert="~{fragments/general.html :: footer}"></div>
</body>
</html>