header {
    background-color: green;
}

.blockLink {
    display: block;
    color: inherit;
    text-decoration: inherit;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    text-align: center;
}
